{% extends 'base.html.twig' %}

{% block page_title %}
	{{ 'Quickbooks Integration'|trans }}
{% endblock %}
{% block page_subtitle %}
	{{ 'kimai_quickbooks.subtitle'|trans }}
{% endblock %}

{% block main %}

<h2>Stuff goes here</h2>
<br>
<br>


{# <img src="{{ asset('bundles/KimaiQuickbooksBundle/Resources/public/C2QB_green_btn_lg_default.png') }}"> #}


<button onclick="location.href = '{{ authUrl }}'">Connect to Quickbooks</button>


{% endblock %}
