{% extends 'base.html.twig' %}

{% block page_title %}
	{{ 'Quickbooks Integration'|trans }}
{% endblock %}
{% block page_subtitle %}
	{{ 'kimai_quickbooks.subtitle'|trans }}
{% endblock %}

{% block main %}

<h2>Stuff goes here</h2>

{% endblock %}
